<div class="justify-self-auto">
  <div class="flex justify-center">
    <app-loading
      [hidden]="!isLoading"
      class="text-blue-750 h-10 mb-6"
    ></app-loading>
    <h1
      [hidden]="isLoading"
      class="font-lato font-bold 2xl:text-45px text-32px text-blue-750"
    >
      {{ formatCurrency(fee) }}
    </h1>
  </div>
  <div class="flex justify-center">
    <label class="font-lato font-bold 2xl:text-22px text-18px text-gray-450">{{
      'home-quoter.fee' | translate
    }}</label>
  </div>
  <div class="flex justify-center">
    <label class="font-lato font-bold text-14px text-cyan-450">{{
      'home-quoter.label-fee' | translate
    }}</label>
  </div>
</div>
