<div class="justify-self-auto pt-12 pb-14">
  <div class="flex justify-center">
    <h1 class="font-lato font-bold text-45px xs:text-32px text-blue-750">
      {{ 'currency.symbol' | translate }} {{ fee | number: '1.2-2' }}
    </h1>
  </div>
  <div class="flex justify-center">
    <label class="font-lato font-bold text-22px xs:text-18px text-gray-450">{{
      'home-quoter.fee' | translate
    }}</label>
  </div>
  <div class="flex justify-center">
    <label class="font-lato font-bold text-14px text-cyan-450">{{
      'home-quoter.label-fee' | translate
    }}</label>
  </div>
</div>
