<section class="bg-cyan-450 w-full relative h-auto overflow-hidden">
  <img
    class="absolute xs:hidden w-199px h-191px top-24"
    src="assets/image/bi-square-white.svg"
    alt="icon square"
  />
  <h1 class="text-white font-lato font-bold text-45px xs:text-28px xs:pt-12 xs:pl-11 pt-24 pl-80">{{ 'home-requirement.title' | translate }}</h1>
  <div class="h-500px">

  </div>
  <img
    class="absolute transform rotate-180 bottom-7 xs:-bottom-8 -right-16 w-199px xs:w-167px h-191px xs:h-136px"
    src="assets/image/bi-square-white.svg"
    alt="icon square"
  />
</section>
