<div
  class="inset-0 fixed z-40 flex justify-center items-center"
  *ngIf="modalService.showModal"
>
  <div
    class="
      min-w-100px min-h-100px
      max-h-90vh max-w-90vw
      lg:w-952px
      w-full
      bg-white
      rounded-35px
      absolute
      overflow-auto
      no-scrollbar
    "
  >
    <img
      class="sticky cursor-pointer top-0 float-right z-1 px-7 py-7"
      src="/assets/image/bi-close.svg"
      alt="bi-close"
      (click)="modalService.closeModal()"
    />
    <div class="h-full relative xl:px-10 lg:px-10 py-10">
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div
  class="inset-0 bg-cyan-450 fixed z-30 opacity-50 modal-pro-open"
  *ngIf="modalService.showModal"
></div>
