<section class="flex w-full justify-center px-11 relative lg:pb-16 lg:pt-16 pt-8" >
  <div class="flex xs:flex-col lg:max-w-1194px xs:w-full relative z-1">
    <div
      class="w-2/5 xs:w-full xs:pb-10"
      data-aos="fade-down"
      data-aos-offset="300"
      data-aos-duration="1000"
    >
      <h1 class="title-1">Crédito rápido</h1>
      <p class="text-gray-550 text-lg xs:text-base font-lato">
        Buscamos brindarte una solución ayudándote a mantener una salud
        financiera adecuada, cumpliendo tus propósitos basados en tu presupuesto
        mensual.
      </p>
      <p class="text-cyan-450 text-3xl xs:text-22px pt-5 font-semibold">
        Préstamos desde Q3,000 hasta Q50,000
      </p>
    </div>
    <hr
      class="
        border-solid border-cyan-450 border
        lg:hidden
        xs:block
        my-4
        lg:w-11/12
        xs:w-full
      "
    />
    <div
      class="grid grid-cols-1 gap-y-14 pl-20 xs:pl-0 xs:pt-10"
      data-aos="fade-down"
      data-aos-offset="300"
      data-aos-delay="1000"
      data-aos-duration="1000"
    >
      <app-product-feature
        image="assets/image/bi-rate.svg"
        title="Tasa de interés del 19% al 19.6%"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus libero at aliquet aliquam."
      ></app-product-feature>
      <app-product-feature
        image="assets/image/bi-watch.svg"
        title="Plazos de 2 hasta 60 meses"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus libero at aliquet aliquam."
      ></app-product-feature>
      <app-product-feature
        image="assets/image/bi-group.svg"
        title="Sin fiador"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus libero at aliquet aliquam."
      ></app-product-feature>
      <app-product-feature
        image="assets/image/bi-money.svg"
        title="Abono a capital sin penalización"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus libero at aliquet aliquam."
      ></app-product-feature>
    </div>
  </div>
  <img
    class="lg:block hidden absolute w-379px h-313px left-0 top-80 z-0"
    src="assets/image/bi-square-yellow-and-blue.svg"
    alt="icon square"
  />
</section>
