<section class="flex flex-col w-full px-11 pb-20 relative">
  <div class="flex">
    <div>
      <h1 class="title-1">Crédito rápido</h1>
      <p class=" text-gray-550 text-lg font-lato">
        Buscamos brindarte una solución ayudándote a mantener una salud
        financiera adecuada, cumpliendo tus propósitos basados en tu presupuesto
        mensual.
      </p>
      <p class="text-cyan-450 text-3xl font-semibold">Préstamos desde Q3,000 hasta Q50,000</p>
    </div>
    <div>list</div>
  </div>
</section>
