<section
  class="
    h-screen
    flex
    justify-center
    bg-banner-header bg-cover bg-center bg-no-repeat
    min-h-700px
    relative
    lg:px-11
    overflow-hidden
  "
>
  <img
    src="assets/image/bi-square-margin.svg"
    alt="Decoración BI"
    class="absolute lg:block hidden z-1 w-516px h-443px -bottom-40 -left-32"
  />
  <img
    src="assets/image/bi-infinity-white.svg"
    alt="Decoración BI"
    class="absolute lg:block hidden z-1 w-236px h-48 top-32 -right-20"
  />
  <div
    class="
      absolute
      lg:block
      hidden
      w-full
      top-0
      bottom-0
      z-0
      bg-banner-gradient
    "
  ></div>

  <div class="grid lg:grid-cols-2 grid-cols-1 w-full">
    <div
      class="
        flex
        lg:items-center
        lg:px-0
        lg:mr-10
        px-11
        lg:justify-end
        justify-start
        items-end
        relative
        z-1
        pr-20
      "
    >
      <h1
        class="
          lg:text-7xl
          text-34px
          lg:w-522px
          w-60
          text-white
          font-lato font-bold
        "
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        {{ 'home-header.title' | translate }}
      </h1>
    </div>
    <div class="flex lg:items-center 2xl:w-710px w-full items-end relative z-1">
      <app-home-cotizador></app-home-cotizador>
    </div>
  </div>
</section>
