<section
  class="
    lg:h-screen
    flex
    justify-center
    min-h-700px
    h-auto
    relative
    lg:px-11
    overflow-hidden
  "
>
  <img
    src="assets/image/bi-square-margin.svg"
    alt="Decoración BI"
    class="absolute lg:block hidden z-2 w-516px h-443px -bottom-40 -left-32"
  />
  <img
    src="assets/image/bi-infinity-white.svg"
    alt="Decoración BI"
    class="absolute lg:block hidden z-2 w-236px h-48 top-32 -right-20"
  />
  <div class="absolute w-full top-0 bottom-0 z-1 bg-banner-gradient"></div>
  <div
    class="
      bg-banner-header bg-cover bg-center
      top-0
      h-700px
      g-center
      bg-no-repeat
      lg:h-screen
      absolute
      w-full
      z-0
    "
  >
    &nbsp;
  </div>
  <div class="grid lg:grid-cols-2 grid-cols-1 w-full">
    <div
      class="
        flex
        lg:justify-center
        justify-start
        relative
        z-1
        lg:pt-498px
        lg:pl-20
        xs:pt-300px
        xs:pl-44px
        xs:min-h-523px
      "
    >
      <h1
        class="
          font-lato font-bold
          text-75px text-white
          xs:text-34px
          xs:leading-normal
        "
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-offset="-200"
        [innerHTML]="'home-header.title' | translate"
      ></h1>
    </div>
    <div
      class="
        flex
        lg:items-center
        2xl:w-710px
        w-full
        items-end
        relative
        z-1
        pt-8
      "
    >
      <app-home-cotizador></app-home-cotizador>
    </div>
  </div>
</section>
