<section
  class="
    h-screen
    flex
    justify-center
    bg-banner-header bg-cover bg-center bg-no-repeat
    min-h-700px
    relative px-11
  "
>
  <div class="absolute w-full top-0 bottom-0 z-0 bg-banner-gradient"></div>
  <div class="grid grid-cols-2 w-full">
    <div class="flex lg:items-center justify-end items-end relative z-1 pr-20">
      <h1
        class="
          lg:text-7xl
          text-34px
          lg:w-522px
          w-60
          text-white
          font-lato font-bold
        "
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        {{ 'home-header.title' | translate }}
      </h1>
    </div>
    <div class="flex lg:items-center w-710px items-end relative z-1">
      <app-home-cotizador></app-home-cotizador>
    </div>
  </div>
</section>
