<div class="flex flex-col w-full pb-7">
  <label class="text-gray-550 font-light text-sm pb-2 flex items-center"
    ><img class="pr-3" *ngIf="icon" [src]="icon" />{{ label
    }}<span class="pl-1 pt-1" *ngIf="required">*</span></label
  >
  <p-slider
    [(ngModel)]="value"
    [max]="max"
    [min]="min"
    [range]="range"
    [step]="step"
    styleClass="bg-gray-375 h-1 text-cyan-450"
  ></p-slider>
  <div class="relative pt-10">
    <div
      class="flex justify-between w-ful z-1 bottom-2 absolute -left-1 -right-3"
    >
      <div
        class="flex items-center"
        [class]="this.min === item ? 'justify-start' : 'justify-center'"
        *ngFor="let item of rangeStep()"
      >
        <label
          (click)="selectValue(item)"
          [class]="item === 36 || item === 24 ? '-m-2px' : ''"
          class="text-sm font-bold text-gray-450 cursor-pointer"
        >
          {{ item }}
        </label>
      </div>
    </div>
    <div class="flex w-full bottom-4 absolute">
      <div
        class="flex-1 flex justify-center"
        *ngFor="let item of rangeStep(true); index as key"
      >
        <div class="w-6px h-6px bg-yellow-400 rounded-full">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
