<nav
  class="
    flex
    fixed
    top-0
    justify-center
    z-20
    w-full
    h-24
    xs:h-70px
    transition
    duration-500
  "
  [class]="
    isTransparent
      ? isScrolled
        ? 'bg-blue-750'
        : 'bg-opacity-0 border-solid border-white border-b-2'
      : 'bg-blue-750'
  "
>
  <div
    class="
      lg:max-w-1360px
      w-full
      flex
      items-center
      justify-between
      2xl:px-0
      px-10
    "
  >
    <a href="home"
      ><img
        class="w-83px xs:w-10 h-71px xs:h-35px"
        src="assets/image/bi-logo.svg"
        alt="Logo BI"
    /></a>
    <div class="flex text-rigth justify-center items-center">
      <a
        class="text-white text-20px xs:text-18px font-lato mr-11"
        href="#"
        data-test-id="aPrincipal"
      >
        {{ 'navigation.home' | translate }}
      </a>
      <a
        class="text-white text-20px xs:text-18px font-lato font-bold"
        href="#"
        id="aFAQS"
      >
        {{ 'navigation.faqs' | translate }}
      </a>
    </div>
  </div>
</nav>
