<nav
  class="
    flex
    fixed
    justify-center
    z-20
    w-full
    h-24
    xs:h-70px
    transition
    duration-500
  "
  [ngClass]="[isScrolled ? 'bg-blue-750' : 'bg-opacity-0 border-solid border-white border-b-2']"
>
  <div class="lg:max-w-1360px w-full flex items-center justify-between lg:px-0 px-10">
    <a href="home"
      ><img
        class="w-83px xs:w-10 h-71px xs:h-35px"
        src="assets/image/bi-logo.svg"
        alt="Logo BI"
    /></a>
    <div class="flex text-rigth justify-center items-center">
      <a href="#"
        ><h1 class="text-white text-20px xs:text-18px font-lato">
          Principal
        </h1></a
      >
    </div>
  </div>
</nav>
