<div class="flex flex-col w-full pb-1" [formGroup]="parentForm">
  <label
    class="text-blue-750 font-lato font-medium text-22px pb-2 flex items-center"
    ><img class="pr-3" *ngIf="icon" [src]="icon" />{{ label }}
    <span class="pl-1 pt-1" *ngIf="required">*</span></label
  >
  <input
    [class]="
      isValid === 'invalid'
        ? 'border-b-2 border-red-500'
        : 'border-b-2 border-cyan-450'
    "
    [ngClass]="classCustom"
    [name]="name"
    [type]="type"
    autocomplete="off"
    [placeholder]="placeholder"
    [formControlName]="name"
    [maxlength]="length"
    [attr.data-test-id]="testId"
    #inputElement
    (keypress)="validationValue($event)"
    appFormatNumber
  />
  <div
    class="text-red-300 text-xs font-semibold flex flex-col"
    *ngIf="
      parentForm.get(name)?.errors &&
      (parentForm.get(name)?.touched || parentForm.get(name)?.dirty)
    "
  >
    <span *ngIf="parentForm.get(name)?.hasError('required')">
      El campo {{ label }} es requerido.
    </span>
    <span
      *ngIf="parentForm.get(name)?.hasError('pattern') && rules === 'number'"
    >
      El campo admite solo datos numéricos.
    </span>
    <span
      *ngIf="parentForm.get(name)?.hasError('pattern') && rules === 'email'"
    >
      El formato es invalido Ej: usuario@ejemplo.com.
    </span>
    <span *ngIf="parentForm.get(name)?.hasError('minlength')">
      El mínimo de caracteres es
      {{ parentForm.get(name)?.errors?.minlength.requiredLength }}
    </span>
    <span *ngIf="parentForm.get(name)?.hasError('maxlength')">
      El máximo de caracteres es
      {{ parentForm.get(name)?.errors?.maxlength.requiredLength }}
    </span>
  </div>
</div>
