<div
  class="
    w-full
    2xl:px-120px
    xl:px-24
    px-11
    py-9
    bg-white
    lg:rounded-35px
    rounded-t-35px
    flex flex-col
    lg:pt-2
    pt-0
  "
>
  <h1
    class="
      2xl:text-35px
      text-24px
      w-full
      text-center
      font-lato font-bold
      text-blue-750
      pt-9
    "
    [innerHTML]="'home-quoter.title' | translate"
  ></h1>
  <p class="pt-5 font-lato 2xl:text-xl text-16px text-gray-450 text-center">
    {{ 'home-quoter.description' | translate }}
  </p>
  <form [formGroup]="formQuoter" class="pt-6 lg:pb-0 pb-10">
    <div class="relative">
      <!-- TODO: refactor this code into of input -->
      <label
        class="font-lato font-bold text-gray-450 2xl:text-22px text-16px"
        >{{ 'home-quoter.label-amount' | translate }}</label
      >
      <div class="relative">
        <label
          id="label-amount"
          class="absolute left-0 top-2 2xl:text-42px text-24px font-lato"
          [class]="isInvalid ? 'text-red-500' : 'text-cyan-450'"
          >{{ 'currency.symbol' | translate }}</label
        >
        <app-input-quoter
          [parentForm]="formQuoter"
          id="amount"
          [name]="'amount'"
          [rules]="'decimal'"
          [classCustom]="
            'focus:outline-none pl-12 xs:pl-8 2xl:text-42px text-24px w-full text-gray-350'
          "
          [placeholder]="'0.00'"
          [length]="'7'"
          [isValid]="isInvalid ? 'invalid' : 'normal'"
          [testId]="'inumAmount'"
        ></app-input-quoter>
        <label
          [class]="isInvalid ? 'text-red-500 animate-shake' : 'text-cyan-450'"
          class="
            font-lato font-semibold
            absolute
            text-14px
            transform
            animate-spin
          "
          >{{ 'home-quoter.input-description' | translate }}</label
        >
      </div>
    </div>
    <div class="pt-10 pb-14">
      <label
        id="label-range"
        class="font-lato font-bold text-gray-450 2xl:text-22px pb-8 text-16px"
        >{{ 'home-quoter.label-range' | translate }}</label
      >
      <input hidden id="term" type="number" formControlName="term" />
      <app-slider-range
        [(value)]="term"
        [id]="'term'"
        name="terms"
        (valueChange)="changeTerm($event)"
        [max]="60"
        [min]="12"
        [step]="12"
      ></app-slider-range>
    </div>
    <app-approximate-fee [isLoading]="isLoading"></app-approximate-fee>
    <a
      class="my-3 cursor-pointer flex flex-col items-center"
      (click)="goToProduct()"
      rel="no-refresh"
    >
      <label
        class="2xl:text-xl text-base text-blue-750 font-lato font-medium pb-2"
        >{{ 'home-quoter.link' | translate }}</label
      ><img src="assets/image/bi-arrow-yellow.svg" alt=""
    /></a>
  </form>
  <hr class="lg:hidden md:hidden block bg-cyan-450 h-2px px-7" />
</div>
