<section
  class="
    w-full
    relative
    my-14
    h-auto
    overflow-hidden
    flex flex-col
    items-center
    px-11
  "
>
  <div class="lg:max-w-1194px w-full relative z-1 flex flex-col items-center">
    <h1
      id="h1TitleQuoter"
      [innerHTML]="
        isQuoterLevel
          ? ('quoter-feature.title-level-fee'
            | translate
              : {
                  amount: formatCurrency(formQuoter.get('amount')?.value),
                  term: formQuoter.get('term')?.value,
                  fee: formatCurrency(fee)
                })
          : ('quoter-feature.title-balance-fee'
            | translate
              : {
                  amount: formatCurrency(formQuoter.get('amount')?.value),
                  term: formQuoter.get('term')?.value,
                  fee: formatCurrency(fee)
                })
      "
      class="
        font-lato
        w-full
        text-left
        lg:text-45px
        text-28px
        font-bold
        text-blue-750
      "
    ></h1>
    <div class="w-full flex">
      <form
        class="grid lg:grid-cols-2 w-full grid-cols-1 lg:gap-32 gap-4"
        [formGroup]="formQuoter"
      >
        <div class="relative lg:w-auto w-full lg:pt-10 xs:pt-7 lg:pr-28">
          <!-- TODO: refactor this code into of input -->
          <label
            class="font-lato font-bold text-gray-450 2xl:text-22px text-16px"
            >{{ 'home-quoter.label-amount' | translate }}</label
          >
          <div class="relative">
            <label
              class="absolute left-0 top-2 2xl:text-42px text-24px font-lato"
              [class]="isInvalid ? 'text-red-500' : 'text-cyan-450'"
              >{{ 'currency.symbol' | translate }}</label
            >
            <app-input
              [parentForm]="formQuoter"
              id="amount"
              [name]="'amount'"
              [rules]="'decimal'"
              [classCustom]="
                'focus:outline-none pl-12 xs:pl-8 2xl:text-42px text-24px w-full text-gray-350'
              "
              [placeholder]="'0.00'"
              [length]="'7'"
              [testId]="'inumAmount'"
              [isValid]="isInvalid ? 'invalid' : 'normal'"
            ></app-input>
          </div>
          <span
            [class]="isInvalid ? 'text-red-500 animate-shake' : 'text-cyan-450'"
            class="font-lato font-semibold absolute text-sm"
            >{{ 'home-quoter.input-description' | translate }}</span
          >
        </div>
        <div class="flex flex-col lg:w-auto w-full lg:pt-10 xs:pt-1 lg:pr-28">
          <label
            class="
              font-lato font-bold
              text-gray-450
              2xl:text-22px
              2xl:pb-11
              lg:pb-4
              text-16px
            "
            >{{ 'home-quoter.label-range' | translate }}</label
          >
          <input hidden id="term" type="number" formControlName="term" />
          <app-slider-range
            [(value)]="term"
            [id]="'term'"
            name="terms"
            (valueChange)="changeTerm($event)"
            [max]="60"
            [min]="12"
            [step]="12"
          ></app-slider-range>
        </div>
      </form>
    </div>
  </div>
  <img
    class="absolute w-44 right-40 transform 2xl:block hidden z-0 translate-y-24"
    src="/assets/image/bi-quoter-bg.svg"
    alt="quarer blue and yellow"
  />
  <hr
    class="border-gray-220 xs:border-cyan-450 my-12 w-full flex lg:max-w-1436px"
  />
  <div class="w-full lg:max-w-1194px">
    <h1
      class="
        text-28px
        xs:text-24px
        text-cyan-450 text-center
        font-lato font-semibold
        pb-3
      "
    >
      {{ 'quoter-feature.subtitle' | translate }}
    </h1>
    <p
      class="
        text-22px
        xs:text-16px
        text-blue-750 text-center
        font-lato font-bold
      "
    >
      {{ 'quoter-feature.remember' | translate }}
    </p>
    <app-switch [(value)]="isQuoterLevel"></app-switch>
    <div class="flex justify-between xs:flex-col">
      <h1
        class="
          font-lato font-bold
          text-22px
          xs:text-16px
          text-blue-750
          xs:pb-7
          xs:text-center
        "
      >
        {{ 'quoter-feature.expires' | translate }}
      </h1>
      <div class="flex items-center xs:justify-center">
        <button
          class="
            lg:inline-flex
            lg:pr-8
            md:inline-flex
            md:pr-8
            xs:flex xs:flex-col
            xs:items-center
            xs:px-4
            text-blue-750 text-16px
            hover:text-yellow-logo
          "
          (mouseover)="hoverMail = true"
          (mouseleave)="hoverMail = false"
          id="btnSendMail"
        >
          <img
            [hidden]="hoverMail"
            src="/assets/image/bi-mail.svg"
            alt="icon-mail"
          />
          <img
            [hidden]="!hoverMail"
            src="/assets/image/bi-mail-yellow.svg"
            alt="icon-mail"
          />
          <span class="font-lato font-medium pl-2">{{
            'quoter-feature.send-mail' | translate
          }}</span>
        </button>
        <button
          class="
            lg:inline-flex
            md:inline-flex
            xs:flex xs:flex-col
            xs:items-center
            xs:px-4
            text-blue-750 text-16px
            hover:text-yellow-logo
          "
          (mouseover)="hoverDownload = true"
          (mouseleave)="hoverDownload = false"
          id="btnDownload"
          (click)="downloadQuoter()"
        >
          <img
            [hidden]="hoverDownload"
            src="/assets/image/bi-download.svg"
            alt="icon-download"
          />
          <img
            [hidden]="!hoverDownload"
            src="/assets/image/bi-download-yellow.svg"
            alt="icon-download"
          />
          <span class="font-lato font-medium pl-2">{{
            'quoter-feature.download' | translate
          }}</span>
        </button>
      </div>
    </div>
    <div [hidden]="!isQuoterLevel" class="w-full mt-12 md:mt-6 xs:mt-5">
      <app-table
        id="level-fee"
        [headers]="[
          { label: 'Cuota', key: 'cuota' },
          { label: 'Valor capital', key: 'capital' },
          { label: 'Interés', key: 'interes' },
          { label: 'Total a pagar', key: 'total' },
          { label: 'Saldo a capital', key: 'capital' }
        ]"
        [items]="items"
      ></app-table>
      <div
        [ngClass]="{ hidden: page === totalPage - 1 }"
        class="w-full justify-center flex"
      >
        <label
          class="cursor-pointer underline text-blue-750 font-lato mt-7"
          (click)="showMore()"
          >{{ 'common.show-more' | translate }}</label
        >
      </div>
    </div>
    <div [hidden]="isQuoterLevel" class="w-full mt-12 xs:mt-5">
      <app-table
        id="level-salary"
        [headers]="[
          { label: 'Cuota', key: 'cuota' },
          { label: 'Interés', key: 'interes' },
          { label: 'Total a pagar', key: 'total' }
        ]"
        [items]="items"
      ></app-table>
      <div
        [ngClass]="{ hidden: page === totalPage - 1 }"
        class="w-full justify-center flex"
      >
        <label
          class="cursor-pointer underline text-blue-750 font-lato mt-7"
          (click)="showMore()"
          >{{ 'common.show-more' | translate }}</label
        >
      </div>
    </div>
  </div>
  <img
    class="absolute w-44 left-9 bottom-3 z-0 2xl:block hidden"
    src="/assets/image/bi-quoter-bg-blue.svg"
    alt="quarter blue and yellow"
  />
</section>
