<section
  class="
    w-full
    relative
    my-10
    h-auto
    overflow-hidden
    flex flex-col
    items-center
    px-11
  "
>
  <div class="lg:max-w-1194px w-full flex flex-col items-center">
    <h1
      [innerHTML]="'quoter-feature.title' | translate"
      class="
        font-lato
        w-full
        text-left
        lg:text-45px
        text-28px
        font-bold
        text-blue-750
      "
    ></h1>
    <div class="w-full flex">
      <form
        class="grid lg:grid-cols-2 w-full grid-cols-1 lg:gap-32 gap-4"
        [formGroup]="formQuoter"
      >
        <div class="relative lg:w-auto w-full">
          <!-- TODO: refactor this code into of input -->
          <label
            class="font-lato font-bold text-gray-450 2xl:text-22px text-16px"
            >{{ 'home-quoter.label-amount' | translate }}</label
          >
          <div class="relative">
            <label
              class="
                absolute
                left-0
                top-2
                text-cyan-450
                2xl:text-42px
                text-24px
                font-lato
              "
              >{{ 'currency.symbol' | translate }}</label
            >
            <app-input
              [parentForm]="formQuoter"
              id="amount"
              [name]="'amount'"
              [rules]="'decimal'"
              [classCustom]="
                'border-b-2 border-cyan-450 focus:outline-none pl-12 xs:pl-8 2xl:text-42px text-24px w-full text-gray-350'
              "
              [placeholder]="'0.00'"
              [length]="'9'"
              [testId]="'inumAmount'"
            ></app-input>
          </div>
          <span class="font-lato font-semibold text-14px text-cyan-450">{{
            'home-quoter.input-description' | translate
          }}</span>
        </div>
        <div class="flex flex-col lg:w-auto w-full">
          <label
            class="
              font-lato font-bold
              text-gray-450
              2xl:text-22px
              2xl:pb-10
              lg:pb-4
              text-16px
            "
            >{{ 'home-quoter.label-range' | translate }}</label
          >
          <input hidden id="term" type="number" formControlName="term" />
          <app-slider-range
            [(value)]="term"
            [id]="'term'"
            name="terms"
            (valueChange)="changeTerm($event)"
            [max]="60"
            [min]="12"
            [step]="12"
          ></app-slider-range>
        </div>
      </form>
    </div>
  </div>
  <img
    class="
      absolute
      w-44
      right-10
      transform
      2xl:block
      hidden
      z-0
      translate-y-1/2
    "
    src="/assets/image/bi-quoter-bg.svg"
    alt="quarter blue and yellow"
  />
  <hr />
  <div class="w-full">
    <app-table> Test </app-table>
  </div>
</section>
